.container {
  display: flex;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("../../images/login-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding: 100px;
}

.title {
  font-size: 3rem;
  margin: 50px 20px 0;
}

.signup-link {
  margin: 0 0 -5px;
}

.signup-form-input {
  background-color: whitesmoke;
  border-radius: 6px;
}

.error-message {
  align-self: flex-start;
  margin: -20px 5px -5px;
  color: red;
}

.link {
  color: #435fce;
  text-decoration: none;
  align-self: flex-start;
  margin: -15px 0 10px;
}

.link:hover {
  text-decoration: underline;
}

.separator {
  display: flex;
  align-items: center;
  margin: 0;
  color: #e0e0e0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #e0e0e0;
}

.or-text {
  margin: 0 1rem;
}

.social-signup {
  display: flex;
  gap: 1rem;
}
