.App {
    text-align: center;
    height: 100%;
    position: relative;
}

#phaser-container {
    position: relative;
    z-index: 1;
}

.scoreboard {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}